.side-bar {
  background-color: #393a44;
  min-width: 200px;
  height : 100vh; /* vh = view Height. It makes the height of the element as large as the page itself.*/
}

html,body {
  height : 100%;
}

@media screen and (max-width: 760px) {
  .side-bar {
    height: 50%;
  }
}